* {
  margin: 0;
  padding: 0;
}
#searchResult{
  margin-top:0px;
  
  
}
#searchHistoryBox{
  display : none;
  border-bottom : 1px solid black;
}
input {
  width : 100%;
  margin: 3px;
  border-top: 1px black;
  border-left: 1px black;
  border-right: 1px black;
}
.article{
  border-bottom : 1px solid black;
  margin-bottom: 3px;
  display : block;
}
.clipNews{  
  border-bottom : 1px solid black;
  margin-bottom: 3px;
}
.cliped{
  border-bottom : 1px solid black;
  margin-bottom: 3px;
}
.newsHead{
  margin-left: 20px;
  margin-top: 10px;
}
.newsDate{
  margin-left: 20px;
}
.clipBtn{
  margin-left: 20px;
  margin-bottom : 5px;
}
#detailBtn{
  margin-left: 10px;
  margin-bottom: 10px;
}