* {
  margin: 0;
  padding: 0;
}
#searchHistoryBox{
  display : none;
  border-bottom : 1px solid black;
}
input {
  width : 100%;
  margin: 3px;
  border-top: 1px black;
  border-left: 1px black;
  border-right: 1px black;
}
#article{
  padding : 10px 20px;
  border-bottom : 1px solid black;
}